//mixins----------------------------
@mixin Flex($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: column;
}

//variables------------------------------
$mainCol: #fff;
$detCol: red;
//classess & ids--------------------------------------

//quick reset
*, html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    @include Flex(center);
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    font-family: Helvetica, sans-serif, Arial;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('media/poster.jpg') no-repeat center ;
    background-size: cover;
}

h1 {
    font-size: 6vw;;
    color: $mainCol;

    span {
        padding: 0.5vw;
        margin-right: 0.5vw;
        border-radius: 0.5vw;
        background-color: $detCol;
    }
}

#alert {
    height: 4vw;
    width: 30vw;
    line-height: 4vw;
    text-align: center;
}

.alertFade {
    opacity: 0;
    transition: opacity linear 1000ms;
}

#showForm {
    @include Flex(space-around);
    height: 30vw;
    width: 80%;
    font-size: 3vw;

    label {
        width: 10vw;
        display: inline-block;
        color: $mainCol;
    }

    input {
        height: 4vw;
        width: 30vw;
        font-size: 2.5vw;
    }
}

#submit {
    color: $mainCol;
    font-weight: bold;
    border: none;
    border-radius: 1vw;
    background-color: $detCol;
}

table {
    width: 50vw;
    padding: 10vw;
    font-size: 3vw;;
    color: $mainCol;
    border-collapse: collapse;

    thead {
        font-size: 3.5vw;
        background-color: $detCol;
    }

    tbody {
        text-align: center;
        background-color: rgba(0,0,0,0.5);
    }
}

.delete {
    color: $detCol;
    cursor: pointer;
}