@mixin Flex($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: column;
}

$mainCol: red;

#container {
    @include Flex(center);
    width: 80vw;
    margin: 0 auto;
    font-family: Helvetica, sans-serif, Arial;
}

h1 {
    span {
        padding: 0.5vw;
        margin-right: 0.5vw;
        border-radius: 1vw;
        color:#fff;
        background-color: $mainCol;
    }
}

#alert {
    height: 4vw;
    width: 30vw;
    line-height: 4vw;
    text-align: center;
}

.alertFade {
    opacity: 0;
    transition: opacity linear 1000ms;
}

#showForm {
    @include Flex(space-around);
    height: 30vw;
    width: 80%;
    font-size: 3vw;

    label {
        width: 10vw;
        display: inline-block;
        color: $mainCol;
    }

    input {
        height: 4vw;
        width: 30vw;
        font-size: 2.5vw;
    }
}

#submit {
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 25vw;
    background-color: $mainCol;
}